body {
  background-color: black;
  color: white;
}

#header {
  width: 100%;
  
  img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

#scores {
  width: 50%;
  margin: 0 auto;
}